<!DOCTYPE html>
<html>
<head>
  <title>Portal do Game</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
 
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container">
        <a class="me-3" href="#"><img src="/logo.png" id="logo" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

          <form class="form-inline my-2 my-lg-0 col-8 me-5">
            <div class="input-group">
                <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
               
                    <button class="btn btn-outline-light" type="submit">
                        <span class="bi bi-search"></span> <!-- Ícone de lupa do Bootstrap -->
                    </button>
                
            </div>
        </form>
        
            <ul class="navbar-nav ml-auto  ">
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="bi bi-person"></span> Cadastrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="bi bi-heart"></span> Favoritos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="bi bi-cart"></span> Carrinho</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

  <div class="container mt-5">
    <div class="row">
      
     
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card">
            <img src="https://m.media-amazon.com/images/I/51vLIXjlTvL._AC_SY450_.jpg" class="card-img-top imagens" alt="Product Image">
            <div class="card-body">
              <h4 class="card-title limit-text">Notebook Samsung NP550XDA-KV3BR Intel Core i3-1115G4 4GB 256GB SSD Tela 15,6" Windows 11 - Cinza Chumbo</h4>


                <p class="card-text text-muted" id="descricao">8x de R$ 312,48 sem juros no cartão de crédito <br>
                  receba de volta R$ 125,00 na Ame</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="rating">
                        <span class="bi bi-star-fill text-warning"></span>
                        <span class="bi bi-star-fill text-warning"></span>
                        <span class="bi bi-star-fill text-warning"></span>
                        <span class="bi bi-star-fill text-warning"></span>
                        <span class="bi bi-star text-warning"></span>
                    </div>
                </div>
                
                <div class="text-danger font-weight-bold preco">
                  <div class="preco-riscado">
                 R$ <del>3,499.90</del>
                </div>
                  
                  <small><b>R$</b></small> <b>2.499,90</b>
                  <a href="pagina" class="btn btn-outline-danger  float-end me-4 col-4">Comprar</a>

              </div>
              
              
                
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card">
          <img src="https://images-americanas.b2w.io/produtos/01/00/img/133806/7/133806753_1GG.jpg" class="card-img-top imagens" alt="Product Image">
          <div class="card-body">
            <h4 class="card-title limit-text">Game - Red Dead Redemption 2 - PS4</h4>


              <p class="card-text text-muted" id="descricao">1x de R$ 89,99 sem juros no cartão de crédito <br>
                receba de volta R$ 1,00 na Ame</p>
              <div class="d-flex justify-content-between align-items-center">
                  <div class="rating">
                      <span class="bi bi-star-fill text-warning"></span>
                      <span class="bi bi-star-fill text-warning"></span>
                      <span class="bi bi-star-fill text-warning"></span>
                      <span class="bi bi-star-fill text-warning"></span>
                      <span class="bi bi-star text-warning"></span>
                  </div>
              </div>
              
              <div class="text-danger font-weight-bold preco">
                <div class="preco-riscado">
               R$ <del>99,99</del>
              </div>
                
                <small><b>R$</b></small> <b>89,99</b>
                <a href="pagina" class="btn btn-outline-danger  float-end me-4 col-4">Comprar</a>

            </div>
            
            
              
          </div>
      </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="card">
        <img src="https://images-americanas.b2w.io/produtos/01/00/img/72547759/9/7254775906_1GG.jpg" class="card-img-top imagens" alt="Product Image">
        <div class="card-body">
          <h4 class="card-title limit-text">Game final fantasy xvi - ps5</h4>


            <p class="card-text text-muted" id="descricao">3x de R$ 116,66 sem juros no cartão de crédito <br>
              receba de volta R$ 125,00 na Ame</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="rating">
                    <span class="bi bi-star-fill text-warning"></span>
                    <span class="bi bi-star-fill text-warning"></span>
                    <span class="bi bi-star-fill text-warning"></span>
                    <span class="bi bi-star-fill text-warning"></span>
                    <span class="bi bi-star text-warning"></span>
                </div>
            </div>
            
            <div class="text-danger font-weight-bold preco">
              <div class="preco-riscado">
             R$ <del>R$ 349,99</del>
            </div>
              
              <small><b>R$</b></small> <b>307,99</b>
              <a href="pagina" class="btn btn-outline-danger  float-end me-4 col-4">Comprar</a>

          </div>
          
          
            
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
  <div class="card">
      <img src="https://images-americanas.b2w.io/produtos/7420803109/imagens/video-game-stick-lite-4k-com-15-000-mil-jogos-classicos-2-controles-sem-fio/7420803109_1_large.jpg" class="card-img-top imagens" alt="Product Image">
      <div class="card-body">
        <h4 class="card-title limit-text">Vídeo Game Stick Lite 4K Com 15.000 Mil Jogos Clássicos + 2 Controles Sem Fio</h4>


          <p class="card-text text-muted" id="descricao">8x de R$ 10,48 sem juros no cartão de crédito <br>
            receba de volta R$ 125,00 na Ame</p>
          <div class="d-flex justify-content-between align-items-center">
              <div class="rating">
                  <span class="bi bi-star-fill text-warning"></span>
                  <span class="bi bi-star-fill text-warning"></span>
                  <span class="bi bi-star-fill text-warning"></span>
                  <span class="bi bi-star-fill text-warning"></span>
                  <span class="bi bi-star text-warning"></span>
              </div>
          </div>
          
          <div class="text-danger font-weight-bold preco">
            <div class="preco-riscado">
           R$ <del>279,90</del>
          </div>
            
            <small><b>R$</b></small> <b>179,90</b>
            <a href="pagina" class="btn btn-outline-danger  float-end me-4 col-4">Comprar</a>

        </div>
        
        
          
      </div>
  </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
  <div class="card">
      <img src="https://images-americanas.b2w.io/produtos/01/00/img/2117190/5/2117190565_1GG.jpg" class="card-img-top imagens" alt="Product Image">
      <div class="card-body">
        <h4 class="card-title limit-text">console xbox series s 500gb ssd  </h4>


          <p class="card-text text-muted" id="descricao">8x de R$ 312,48 sem juros no cartão de crédito <br>
            receba de volta R$ 125,00 na Ame</p>
          <div class="d-flex justify-content-between align-items-center">
              <div class="rating">
                  <span class="bi bi-star-fill text-warning"></span>
                  <span class="bi bi-star-fill text-warning"></span>
                  <span class="bi bi-star-fill text-warning"></span>
                  <span class="bi bi-star-fill text-warning"></span>
                  <span class="bi bi-star text-warning"></span>
              </div>
          </div>
          
          <div class="text-danger font-weight-bold preco">
            <div class="preco-riscado">
           R$ <del>R$ 2.297,00</del>
          </div>
            
            <small><b>R$</b></small> <b>2.067,30</b>
            <a href="pagina" class="btn btn-outline-danger  float-end me-4 col-4">Comprar</a>

        </div>
        
        
          
      </div>
  </div>
</div>
    
<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
  <div class="card">
      <img src="https://images-americanas.b2w.io/produtos/01/00/img/3474931/9/3474931923_1GG.jpg" class="card-img-top imagens" alt="Product Image">
      <div class="card-body">
        <h4 class="card-title limit-text">Smart TV LED 32" HD TCL 32S615 com Design Sem Bordas Bluetooth Google Assistant e Android TV</h4>


          <p class="card-text text-muted" id="descricao">8x de R$ 149,87 sem juros no cartão de crédito <br>
            receba de volta R$ 125,00 na Ame</p>
          <div class="d-flex justify-content-between align-items-center">
              <div class="rating">
                  <span class="bi bi-star-fill text-warning"></span>
                  <span class="bi bi-star-fill text-warning"></span>
                  <span class="bi bi-star-fill text-warning"></span>
                  <span class="bi bi-star-fill text-warning"></span>
                  <span class="bi bi-star text-warning"></span>
              </div>
          </div>
          
          <div class="text-danger font-weight-bold preco">
            <div class="preco-riscado">
           R$ <del>2.199,00</del>
          </div>
            
            <small><b>R$</b></small> <b>1.199,00</b>
            <a href="pagina" class="btn btn-outline-danger  float-end me-4 col-4">Comprar</a>

        </div>
        
        
          
      </div>
  </div>
</div>
    

        

    </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      const elements = document.querySelectorAll(".limit-text");
      elements.forEach(function(element) {
          const text = element.textContent;
          const maxLength = 45;
          if (text.length > maxLength) {
              element.textContent = text.slice(0, maxLength) + "...";
          }
      });
  });
</script>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
 
  
</body>
</html>
